body {
  background-image: linear-gradient(-225deg, rgba(53, 124, 124, 0.8) 0%, rgba(53, 124, 124, 0.1) 48%, rgba(53, 124, 124, 0.8) 100%);
  height: 100vh;
}
.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(60, 64, 66);
  color: rgb(53, 124, 124);
}
.nav-links {
  width:20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}
.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.settings-page {
  font-size: 30px;
  margin: 0px 40px;
  color: rgb(60, 64, 66);
}

.homepage h1 {
  color: rgb(60, 64, 66);
  font-size: 45px;

}
.homepage h1 span, .settings-page span {
  color: rgb(53, 124, 124);

}
.selectCol, .selectRow {
  margin: 10px 20px;
    background-color: rgba(0,0,0,0);
    padding: 3px 10px;
    border: 2px solid #34798285;
    color:#347982;
    font-size: 20px;
    text-decoration: none;
    outline: none;
}

.play-btn {
  margin-top:50px;
  width:500px;
  height: 500px;
  min-width:200px;
  min-height: 200px;
  border-radius: 500px;
  border:5px solid rgb(53, 124, 124);
  color:rgb(53, 124, 124);
  font-size: 55px;
  transition: 500ms;
  outline: none;
  text-decoration: none;
  background-image: linear-gradient(-225deg, #D4FFEC 0%,  rgba(53, 124, 124, 0.5) 48%, rgba(53, 124, 124, 0.9) 100%);
}
.play-btn:hover {
  width:450px;
  height: 450px;
  border:55px solid rgb(53, 124, 124);
  font-size: 75px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .homepage {
    display: grid;
    grid-template-columns:  1fr;
  }
}
@media (max-width: 1000px) {
  .play-btn {
    width: 100px;
    height: 100px;

  }
  .play-btn:hover {
    width: 100px;
    height: 100px;
    border:5px solid rgb(95, 155, 155);
    font-size: 55px;
    color: rgb(95, 155, 155);
  }
}